@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.card-body {
  width: 380px;
  box-shadow: 0 0 3px 2px rgb(203, 203, 203);
  font-family: "DM Sans", sans-serif;
  color: white;
  background: #264653;
  padding: 36px 0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 1024px) {
  .card-body {
    width: 260px;
    height: 240px;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .card-body {
    width: 500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
  }
}
@media only screen and (max-width: 426px) {
  .card-body {
    width: 330px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
  }
}
.card-body .icon-holder {
  background: #F1D1B5;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .card-body .icon-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-right: 15px;
    width: 70px;
    height: 70px;
  }
}
.card-body .icon-holder img {
  width: 55px;
}
@media only screen and (max-width: 768px) {
  .card-body .icon-holder img {
    width: 45px;
  }
}
.card-body .card-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1024px) {
  .card-body .card-title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .card-body .card-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
  }
}
.card-body .card-desc {
  font-size: 18px;
  font-weight: 400;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .card-body .card-desc {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .card-body .card-desc {
    display: none;
  }
}

.card-body:hover {
  cursor: pointer;
}
.card-body:hover .icon-holder {
  background: rgb(255, 248, 168);
  transition: all 0.3s ease-in-out;
}