@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.navbar {
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4e485e;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  position: fixed;
}
.navbar-container {
  color: white;
  background-color: #4e485e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .navbar-container {
    padding-bottom: 25px;
  }
}
.navbar-container .navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
@media only screen and (max-width: 768px) {
  .navbar-container .navbar-logo {
    padding-top: 20px;
    margin-left: 50px;
  }
}
.navbar-container .navbar-logo img {
  width: 45px;
  margin-right: 15px;
}
.navbar-container .navbar-item {
  padding: 30px;
}
@media only screen and (max-width: 768px) {
  .navbar-container .navbar-item {
    display: flex;
    z-index: -1;
    top: 90px;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 180px;
    width: 100vw;
    background: #4e485e;
    padding: 0;
    transition: all ease-in-out 0.4s;
  }
}
.navbar-container .navbar-item a {
  margin: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 8px 18px;
  border-radius: 25px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .navbar-container .navbar-item a {
    margin: 0px;
    z-index: -1;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-container .navbar-item a:active {
    padding: 8px 50vw;
    background-color: #CD7672;
    transition: all ease-in-out 0.4s;
  }
}
.navbar-container .navbar-item a::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 8%;
  width: 100%;
  height: 3px;
  transition: all ease-in-out 0.35s;
  background: #CD7672;
  transform: scaleX(0);
}
@media only screen and (max-width: 768px) {
  .navbar-container .navbar-item a::after {
    display: none;
  }
}
.navbar-container .navbar-item a:hover::after {
  left: 2%;
  transform: scaleX(0.4);
}
@media only screen and (max-width: 768px) {
  .navbar-container .is-menu {
    transform: translate(0, -140%);
    z-index: -1;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-container .is-menu a {
    z-index: -1;
  }
}
.navbar-container .menu-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar-container .menu-toggle {
    display: block;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 50px;
    transition: all ease-in-out 0.35s;
  }
}

.active {
  padding: 8px 18px;
  border-radius: 25px;
  background-color: #CD7672;
  transition: all ease-in-out 0.35s;
}
@media only screen and (max-width: 768px) {
  .active {
    background-color: inherit;
  }
}