@import "variables.scss";

.ohero{
    padding-top: 30px;
    @include margin-lr(160px);
    @media only screen and (max-width: 768px){
        @include margin-lr(120px);
    }
    @media only screen and (max-width: 426px){
        @include margin-lr(30px);
    }

    // .research{
    //     width: 800px;
    //     margin: auto;
    // }
    // .des-def{
    //     .user-journey{
    //         margin-top: 20px;
    //         @include flex-align;
    //         img{
    //             width: 60vw;
    //             @media only screen and (max-width: 768px){
    //                 width: 69vw;
    //             }
    //             @media only screen and (max-width: 426px){
    //                 width: 86vw;
    //             }
    //         }
    //     }
        
    // }


    .typo{
        margin-top: 40px;
        margin-bottom: 40px;
        @include flex-align;
        img{
            width: 68vw;
            @media only screen and (max-width: 1024px){
                width: 80vw;
            }
        }
    }

    .typo2{
        margin-top: 40px;
        margin-bottom: 40px;
        @include flex-align;
        img{
            width: 52vw;
            @media only screen and (max-width: 1024px){
                width: 77vw;
            }
        }
    }
    .findings{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;

        .finding-card{
            border-radius: 10px;
            border: rgb(219, 221, 210) .5px solid;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 26px;
            width: 26vw;

            @media only screen and (max-width: 1024px){
                width: 34vw;
            }

            img{
                width: 80px;
            }

            .finding-title{
                margin-top: 20px;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}