@import "./variables.scss";


.reverse{
    flex-direction: row-reverse;
}

.pcard-body{
    width: 99.5vw;
    max-width: 100vw;
    font-family: $font-main;
    background-color: $background;
    @include flex-align;
    border-radius: 0px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 150px;
    @media only screen and (max-width: 768px){
        flex-direction: column;
        width: 60vw;
        margin-bottom: 120px;
    }
    @media only screen and (max-width: 426px){
        flex-direction: column;
        width: 80vw;
        margin-bottom: 80px;
    }

    img{
        width: 700px;
        @media only screen and (max-width: 1024px){
            width: 500px;
        }
        @media only screen and (max-width: 768px){
            width: 100%;
            border-radius: 15px 15px 0 0;
        }
    }


    .layer{

        .nimage{
            height: 50px;
            display: flex;
            justify-content: flex-end;
            @media only screen and (max-width: 1024px){
                height: 35px;
            }
            @media only screen and (max-width: 768px){
                height: 35px;
                margin-top: 10px;
            }

            .old-project{
                display: none;
            }

            .new-project{
                width: 50px;
                padding-right: 30px;
                animation: blink-animation 1s steps(5, start) infinite;
                @media only screen and (max-width: 1024px){
                    width: 35px;
                    padding-right: 20px;
                }
            }
        }

        .access{
            padding: 10px 50px 90px 50px;
            @media only screen and (max-width: 1024px){
                padding: 10px 40px 40px 40px;
            }

            @media only screen and (max-width: 768px){
                padding: 6px 26px 26px 26px;
            }


            .pcard-title{
                font-size: 25px;
                font-weight: 600;
                @media only screen and (max-width: 1024px){
                    font-size: 22px;
                }
            }

            .pcard-desc{
                font-size: 18px;
                font-weight: 400;
                @media only screen and (max-width: 1024px){
                    font-size: 16px;
                }
            }

            .viewbtn{
                font-family: $font-main;
                width: 150px;
                height: 40px;
                border-radius: 25px;
                margin-top: 20px;
                border-width: 0;
                font-size: 16px;
                font-weight: 400;
                padding: 10px;
                background-color: $button;
                transition: all 0.4s ease-in-out;
                @media only screen and (max-width: 1024px){
                    font-size: 14px;
                    margin-top: 15px;
                    padding: 8px;
                    width: 120px;
                    height: 32px;
                }

                &:hover{
                    background-color: #f4a111;
                }
            }
        }

    }
}
