@import "./variables.scss";

.project-head {
    font-family: $font-main;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 240px;
    
    .sidebar{
        .sidebar-lable {
            font-family: $font-main;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            color: $font-color4;
        }
        
        .sidebar-inner{
            background-color: rgba(203, 203, 203, 0.626);
            position: fixed;
            width: 88vh;
            padding: 10px 0px;
            top: 53vh;
            left: -240px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 6px;
            rotate: 90deg;
            @media only screen and (max-width: 1024px){
                display: none;
            }
    
            a{
                padding: 5px;
                text-decoration: none;
                color: $tertiary;

            }
            a:hover{
                color: $font-color1;
            }
        }
    }

    .head-content {
        width: 800px;
        .ti {
            font-family: $font-body;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
            color: $font-color4;
        }

        .pname {
            font-family: $font-head;
            font-size: 35px;
            font-weight: 700;
        }

        .psub {
            font-size: 17px;
            font-weight: 600;
        }

        .ov-dt {
            @include flex-alignsb;
            gap: 60px;
            margin: 40px 0px;
            align-items: flex-start;

            @media only screen and (max-width: 768px) {
                flex-direction: column;

                .details {
                    margin-top: 30px;
                }
            }
        }


        .overview {
            width: 600px;

            @media only screen and (max-width: 1024px) {
                width: 440px;
            }

            @media only screen and (max-width: 768px) {
                width: 475px;
            }

            @media only screen and (max-width: 426px) {
                width: 85vw;
            }
        }

        .details {
            width: 300px;

            @media only screen and (max-width: 1024px) {
                width: 250px;
            }
        }
    }
}