@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.project-head {
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 240px;
}
.project-head .sidebar .sidebar-lable {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #B83F3F;
}
.project-head .sidebar .sidebar-inner {
  background-color: rgba(203, 203, 203, 0.626);
  position: fixed;
  width: 88vh;
  padding: 10px 0px;
  top: 53vh;
  left: -240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 6px;
  rotate: 90deg;
}
@media only screen and (max-width: 1024px) {
  .project-head .sidebar .sidebar-inner {
    display: none;
  }
}
.project-head .sidebar .sidebar-inner a {
  padding: 5px;
  text-decoration: none;
  color: #264653;
}
.project-head .sidebar .sidebar-inner a:hover {
  color: #2C8DD3;
}
.project-head .head-content {
  width: 800px;
}
.project-head .head-content .ti {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #B83F3F;
}
.project-head .head-content .pname {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.project-head .head-content .psub {
  font-size: 17px;
  font-weight: 600;
}
.project-head .head-content .ov-dt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin: 40px 0px;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .project-head .head-content .ov-dt {
    flex-direction: column;
  }
  .project-head .head-content .ov-dt .details {
    margin-top: 30px;
  }
}
.project-head .head-content .overview {
  width: 600px;
}
@media only screen and (max-width: 1024px) {
  .project-head .head-content .overview {
    width: 440px;
  }
}
@media only screen and (max-width: 768px) {
  .project-head .head-content .overview {
    width: 475px;
  }
}
@media only screen and (max-width: 426px) {
  .project-head .head-content .overview {
    width: 85vw;
  }
}
.project-head .head-content .details {
  width: 300px;
}
@media only screen and (max-width: 1024px) {
  .project-head .head-content .details {
    width: 250px;
  }
}