@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.shero {
  padding-top: 120px;
}
.shero .typo {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shero .typo img {
  width: 52vw;
}
@media only screen and (max-width: 1024px) {
  .shero .typo img {
    width: 77vw;
  }
}