@import "./variables.scss";


.testimonial-card{
    background-color: white;
    font-family: $font-main;
    box-shadow: 0 0 3px 2px rgb(203, 203, 203);

    .testimonial-header{
        .photo{
            border-radius: 50%;
            margin-right: 20px;
            width: 50px;
        }
        .name{
            font-weight: 600;
            font-size: 18px;
        }
        .position{
            font-weight: 400;
            font-size: 14px;
        }
    }
}