@import "variables.scss";

.work-container{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-main;

    .beginningtext{
        width: 93vw;
        font-family: $font-head;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 100px;
        @include margin-lr(160px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 426px){
            max-width: 350px;
        }

        .label{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .subtext{
                width: 70%;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .iconexterior{
            padding: 10px;
            border-radius: 50%;
            border: #e7bc97 1px solid;

            @media screen and (max-width: 426px){
                display: none;
            }
    
            .iconholder{
                background: #F1D1B5;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                padding: 24px;
                border: #e7bc97 1px solid;
            }
        }
    }
}
