@import "variables.scss";

.work-container{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-main;

    .beginningtext{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 40px;
        @media only screen and (max-width: 426px){
            max-width: 350px;
        }
    }
}
